/*Main Styles*/
body {
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
    border: solid 80px green;
    height: 100vh;

}

.nav {
    margin-bottom: 40px;
    margin-top: 10px;
    
}

.nav-wrapper {
    background-color: black;

}

nav .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: green;
    
}

nav ul {
    margin-right: 10px;

}

ul li a {
    border: dotted 1px green;
    color: green;
}

ul li a:hover {
    color: black;
    background-color: green;
}

.fa-bars:before {
    color: green;
}

.home {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav {
    background-color: green;
    color: black;
}

.mobile-li {
    color: black;
}

.flashes h4 {
    line-height: 2;
}

.page_title{
    color: green;
}

/*Home page*/

.card{
    background-color: black;
    border: dotted 2px green;
    
}

.card-content{
    color: green;
}

.card-title{
    text-decoration: underline dotted 2px green;
    text-align: center;
}

.btn-large{
    margin-top: 20px;
    min-width: 200px;
    background-color: black;
    border: dotted 2px green;
    color: green;
    margin: 20px;
}

.btn-large:hover{
    background-color: green;
    color: black;
}







