body {
    background-color: black;
    font-family: 'Space Mono', monospace;
}

.nav{
    background-color: black;
}

nav .brand-logo{
    margin-left: 15px;
    color: green;
}

nav ul{
    margin-right: 15px;
}

 ul li a {
    color: green;
}

.fa-bars:before{
    color: green;
}

.sidenav{
    background-color: green;
    color: black;
}

