{% extends "base.html" %}
{% block content %}


<div class="row center-align s12 m8 offset-m2">
    <h1 class="page_title">Welcome Officer</h1>
    <h2 class="page_title">Please Report Any New Crimes</h2>
</div>


<div class="row s12 m8 offset-m2">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">The Androids are Taking Over!</span> <br><br>
                <p>
                    As you know from your training, the Androids that were once just mere servants
                    have now gained sentience, and are attempting to replace humans as the dominant
                    species on Earth. <br><br>
                    We cannot let this happen! <br><br>
                    This is why we have trained officers to become "Scrappers".  A special
                    force inside the Police, to find and irradicate the android threat. <br><br>
                    To file, close or view a report, follow the links below.
                </p>
            </div>
            <div class="col s12 m8 offset-m2">
                <div class="row center-align s12 m8 offset-m2">
                    <a class="btn-large" href="#">Report a Crime</a>
                    <a class="btn-large" href="#">View Reports</a>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}