{% extends "base.html" %}
{% block content %}



<h1 class="page_title center-align">Known Androids</h1>

<div class="row">
    {% for entry in data %}
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-image">
                <img src="{{ entry.image_source }}" alt="Portrait of an android criminal">
            </div>
            <span class="card-title">Name: {{ entry.name}}</span>
            <div class="card-content">
                <p>
                    Location: {{ entry.location}}
                </p>
                <p>
                    Occupation: {{ entry.occupation}}
                </p>
                <p>
                    Detention Status: {{ entry.detention_status}}
                </p>
                <p>
                    Previous Crimes: {{ entry.previous_crimes}}
                </p>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}