{% extends "base.html" %}
{% block content %}


<div class="row center-align s12 m8 offset-m2 report-title">
    <h2 class="page_title">Please Read Through Any Reports</h2>
    <h3 class="page_title ">To Attain Evidence For Current Cases</h3>
</div>

<ul class="collapsible ">
    {% for report in reports %}
    <li>
        <div class="collapsible-header row s12 m8 offset-m2">
            <i class="fas fa-caret-down"></i>
            <strong>{{ report.report_name }}</strong>
            <div class="col s7">
                <a href="" class="btn-small">Remove Report</a>
                <a href="" class="btn-small">Edit Report</a>
            </div>
            
        </div>
        <div class="collapsible-body row s12 m8 offset-m2">
            <strong>CRIME TYPE: {{ report.crime_type }}</strong>
            <p>ANDROID NAME: {{ report.android_name }}</p>
            <p>OCCUPATION: {{ report.occupation }}</p>
            <p>CRIME STATUS: {{ report.crime_status }}</p>
            <p>REPORT DESCRIPTION: <br><br>{{ report.report_description }}</p>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}